body {
	background-color: #FFF5EE;
	overflow-x: hidden;
	overflow-y: scroll;
}

.main {
	color: white;
}

.jumbotron {
	padding: 50px;
	text-align: center;
	background-color: #5F9EA0;
	height: 500px;
}

img {
        max-width: 30%;
        max-height: 30%;
        display: inline;
}

.rounded-circle {
	border: 5px solid black;

}

.container {
	display: inline-block;
	background-color: #008080;
	color: #FFFAFA;
	text-align: center;
}

.card {
	width: 18rem;
}

.btn {
	max-width: 50%;
	text-align: center;
	display: inline-block;
}

.container-fluid {
	height: 300px;
	color: black;
}

.LI-profile-badge {
	max-width: 50%;
	max-height: 50%;
}

footer {
	background-color: #2F4F4F;
	text-align: center;
	color: lightgray;
	height: 500px;
	padding: 10px;

}

.form-control {
	display: block;
	border: 5px;
	border-radius: 4px;
	background-color: lightgray;
}

.row {
	flex-wrap: wrap;
}